/*ANIMATIONS*/
@keyframes appear-aristoteles {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes appear-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*FONTS*/
@font-face {
  font-family: "Julius Sans One";
  src: url(../font/JuliusSansOne-Regular.woff);
}

@font-face {
  font-family: "Libre Baskerville Bold";
  src: url(../font/LibreBaskerville-Bold.woff);
}

@font-face {
  font-family: "Libre Baskerville Regular";
  src: url(../font/LibreBaskerville-Regular.woff);
}
/*DEFAULT*/
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #3c4137;
  font-family: "Julius Sans One";
}

body {
  background: url(../img/background2.jpg) no-repeat;
  background-size: cover;
}

/*PÁGINA INICIAL*/
/*BEGIN MENU*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(161, 198, 144, 0.5);
  box-shadow: 0px 7px 6px 4px rgba(0, 0, 0, 0.3);
  height: 70px;
}

.logo {
  margin-left: 12px;
  padding: 6px;
}

.logo img {
  height: 2.5em;
  width: 2.5em;
}

.menu ul {
  display: flex;
}

.menu ul li {
  margin-right: 24px;
  text-transform: uppercase;
  text-shadow: 4px 4px 2px rgba(60, 65, 55, 0.7);
}

.menu ul li a {
  font-size: 1em;
  padding: 17px;
}

.menu ul li a:hover {
  font-size: 1.1em;
  text-shadow: 6px 4px 2px rgba(0, 0, 0, 1);
}

/*END MENU*/

/*BEGIN CONTENT*/
.about_book {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.text {
  max-width: 475px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.text h1 {
  margin-bottom: 12px;
  font-family: "Libre Baskerville Bold";
  font-size: 48px;
  line-height: 68px;
  color: rgba(60, 65, 55, 0.8);
  text-shadow: 2px 5px 4px rgba(60, 65, 55, 0.75);
  animation-name: appear-text;
  animation-duration: 2.5s;
}

.text h2 {
  font-family: "Libre Baskerville Regular";
  font-size: 23px;
  line-height: 29px;
  color: #3c4137;
  animation-name: appear-text;
  animation-duration: 3.5s;
}

.text p {
  margin-top: 8px;
  margin-bottom: 21px;
  font-family: "Libre Baskerville Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3c4137;
  animation-name: appear-text;
  animation-duration: 3.5s;
}

.text a {
  font-family: "Libre Baskerville Bold";
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.25em;
  color: #3c4137;
  text-shadow: 0px 8px 2px rgba(60, 65, 55, 0.4);
  animation-name: appear-text;
  animation-duration: 5.5s;
}
.text a:hover {
  font-size: 26px;
  text-shadow: 0px 8px 2px rgba(60, 65, 55, 0.6);
}

#aristoteles {
  animation-name: appear-aristoteles;
  animation-duration: 1.5s;
}

/*END CONTENT*/

/*BEGIN FOOTER*/
footer {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  background: rgba(161, 198, 144, 0.6);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

footer p {
  margin-left: 16px;
  font-size: 19px;
  line-height: 21px;
}

#container_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  margin: 0 50px;
}

.info h1 {
  margin: 0px;
  margin-top: 7px;
  font-size: 21px;
  line-height: 22px;
}

.info p {
  margin: 0px;
  font-size: 12px;
  line-height: 18px;
}

.icons img {
  margin: 2px 3px;
  height: 1.4em;
  width: 1.4em;
}
/*END FOOTER*/
